In [188]:
import numpy
import pandas
import sklearn
from pylab import rcParams
rcParams['figure.figsize']=10,2
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error
from sklearn.metrics import classification_report,confusion_matrix,roc_auc_score,accuracy_score
import matplotlib.pyplot as plt
%matplotlib inline
#hide all the warnings in jupyter notebook
import warnings
warnings.filterwarnings('ignore')

In [189]:
bikeshare_df=pandas.read_csv('C:/Users/Haritha Supriya/Downloads/bikeshare.csv')

In [190]:
bikeshare_df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,01-01-2011 00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,01-01-2011 01:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,01-01-2011 02:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,01-01-2011 03:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,01-01-2011 04:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [191]:
bikeshare_df_x=bikeshare_df[['datetime','season','holiday','workingday','weather','temp','atemp','humidity','windspeed','casual','registered']]
bikeshare_df_y=bikeshare_df[['count']]

In [192]:
x_train,x_test,y_train,y_test=train_test_split(bikeshare_df_x,bikeshare_df_y,test_size=0.20)

In [193]:
x_train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered
4920,18-11-2011 02:00,4,0,1,1,9.84,11.365,44,15.0013,2,8
5371,17-12-2011 21:00,4,0,0,1,8.20,10.605,75,11.0014,8,88
2287,03-06-2011 05:00,2,0,1,1,21.32,25.000,48,23.9994,4,24
10401,18-11-2012 19:00,4,0,0,1,14.76,17.425,66,11.0014,16,194
4409,15-10-2011 18:00,4,0,0,1,22.14,25.760,39,12.9980,121,251

In [194]:
x_test.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered
5860,19-01-2012 09:00,1,0,1,1,4.92,9.850,54,0.0000,6,204
4035,19-09-2011 04:00,3,0,1,2,20.50,24.240,77,11.0014,2,6
5246,12-12-2011 16:00,4,0,1,2,13.12,16.665,57,6.0032,5,209
10287,14-11-2012 01:00,4,0,1,1,9.84,10.605,60,19.9995,2,10
4900,17-11-2011 06:00,4,0,1,3,14.76,17.425,57,15.0013,3,72

In [195]:
datetime_encoder=preprocessing.LabelEncoder()
datetime_encoder.fit(pandas.DataFrame(x_train['datetime']))

LabelEncoder()

In [196]:
x_train[['datetime']]=datetime_encoder.transform(x_train['datetime'])

In [197]:
datetime_scaler=StandardScaler()
datetime_scaler.fit(pandas.DataFrame(x_train['datetime']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [198]:
x_train[['datetime']]=datetime_scaler.transform(x_train[['datetime']])

In [199]:
season_scaler=StandardScaler()
season_scaler.fit(pandas.DataFrame(x_train['season']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [200]:
x_train[['season']]=season_scaler.transform(x_train[['season']])

In [201]:
x_train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered
4920,1.520219,1.334624,0,1,1,9.84,11.365,44,15.0013,2,8
5371,1.363881,1.334624,0,0,1,8.20,10.605,75,11.0014,8,88
2287,-1.287502,-0.452124,0,1,1,21.32,25.000,48,23.9994,4,24
10401,1.533346,1.334624,0,0,1,14.76,17.425,66,11.0014,16,194
4409,0.960902,1.334624,0,0,1,22.14,25.760,39,12.9980,121,251

In [202]:
weather_scaler=StandardScaler()
weather_scaler.fit(pandas.DataFrame(x_train['weather']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [203]:
x_train[['weather']]=weather_scaler.transform(x_train[['weather']])

In [204]:
temp_scaler=StandardScaler()
temp_scaler.fit(pandas.DataFrame(x_train['temp']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [205]:
x_train[['temp']]=temp_scaler.transform(x_train[['temp']])

In [206]:
x_train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered
4920,1.520219,1.334624,0,1,-0.663206,-1.322164,11.365,44,15.0013,2,8
5371,1.363881,1.334624,0,0,-0.663206,-1.532330,10.605,75,11.0014,8,88
2287,-1.287502,-0.452124,0,1,-0.663206,0.148996,25.000,48,23.9994,4,24
10401,1.533346,1.334624,0,0,-0.663206,-0.691667,17.425,66,11.0014,16,194
4409,0.960902,1.334624,0,0,-0.663206,0.254079,25.760,39,12.9980,121,251

In [207]:
atemp_scaler=StandardScaler()
atemp_scaler.fit(pandas.DataFrame(x_train['atemp']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [208]:
x_train[['atemp']]=temp_scaler.transform(x_train[['atemp']])

In [209]:
humidity_scaler=StandardScaler()
humidity_scaler.fit(pandas.DataFrame(x_train['humidity']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [210]:
x_train[['humidity']]=humidity_scaler.transform(x_train[['humidity']])

In [211]:
x_train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered
4920,1.520219,1.334624,0,1,-0.663206,-1.322164,-1.126735,-0.934099,15.0013,2,8
5371,1.363881,1.334624,0,0,-0.663206,-1.532330,-1.224129,0.683482,11.0014,8,88
2287,-1.287502,-0.452124,0,1,-0.663206,0.148996,0.620587,-0.725379,23.9994,4,24
10401,1.533346,1.334624,0,0,-0.663206,-0.691667,-0.350147,0.213861,11.0014,16,194
4409,0.960902,1.334624,0,0,-0.663206,0.254079,0.717981,-1.195000,12.9980,121,251

In [212]:
windspeed_scaler=StandardScaler()
windspeed_scaler.fit(pandas.DataFrame(x_train['windspeed']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [213]:
x_train[['windspeed']]=windspeed_scaler.transform(x_train[['windspeed']])

In [214]:
casual_scaler=StandardScaler()
casual_scaler.fit(pandas.DataFrame(x_train['casual']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [215]:
x_train[['casual']]=casual_scaler.transform(x_train[['casual']])

In [216]:
registered_scaler=StandardScaler()
registered_scaler.fit(pandas.DataFrame(x_train['registered']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [217]:
x_train[['registered']]=registered_scaler.transform(x_train[['registered']])

In [218]:
x_train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered
4920,1.520219,1.334624,0,1,-0.663206,-1.322164,-1.126735,-0.934099,0.271270,-0.681391,-0.979075
5371,1.363881,1.334624,0,0,-0.663206,-1.532330,-1.224129,0.683482,-0.217064,-0.560186,-0.451844
2287,-1.287502,-0.452124,0,1,-0.663206,0.148996,0.620587,-0.725379,1.369816,-0.640989,-0.873629
10401,1.533346,1.334624,0,0,-0.663206,-0.691667,-0.350147,0.213861,-0.217064,-0.398579,0.246737
4409,0.960902,1.334624,0,0,-0.663206,0.254079,0.717981,-1.195000,0.026694,1.722509,0.622389

In [219]:
x_train_original=x_train
x_train=x_train.values
y_train=y_train.values

In [220]:
#create object of logistic regression
mregg=LinearRegression()

In [221]:
#fit the model
mregg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [222]:
datetime_encoder=preprocessing.LabelEncoder()
datetime_encoder.fit(pandas.DataFrame(x_test['datetime']))

LabelEncoder()

In [223]:
x_test[['datetime']]=datetime_encoder.transform(x_test['datetime'])

In [224]:
datetime_scaler=StandardScaler()
datetime_scaler.fit(pandas.DataFrame(x_test['datetime']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [225]:
x_test[['datetime']]=datetime_scaler.transform(x_test[['datetime']])

In [226]:
season_scaler=StandardScaler()
season_scaler.fit(pandas.DataFrame(x_test['season']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [227]:
x_test[['season']]=season_scaler.transform(x_test[['season']])

In [228]:
weather_scaler=StandardScaler()
weather_scaler.fit(pandas.DataFrame(x_test['weather']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [229]:
x_test[['weather']]=weather_scaler.transform(x_test[['weather']])

In [230]:
temp_scaler=StandardScaler()
temp_scaler.fit(pandas.DataFrame(x_test['temp']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [231]:
x_test[['temp']]=temp_scaler.transform(x_test[['temp']])

In [232]:
atemp_scaler=StandardScaler()
atemp_scaler.fit(pandas.DataFrame(x_test['atemp']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [233]:
x_test[['atemp']]=atemp_scaler.transform(x_test[['atemp']])

In [234]:
humidity_scaler=StandardScaler()
humidity_scaler.fit(pandas.DataFrame(x_test['humidity']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [235]:
x_test[['humidity']]=humidity_scaler.transform(x_test[['humidity']])

In [236]:
windspeed_scaler=StandardScaler()
windspeed_scaler.fit(pandas.DataFrame(x_test['windspeed']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [237]:
x_test[['windspeed']]=windspeed_scaler.transform(x_test[['windspeed']])

In [238]:
casual_scaler=StandardScaler()
casual_scaler.fit(pandas.DataFrame(x_test['casual']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [239]:
x_test[['casual']]=casual_scaler.transform(x_test[['casual']])

In [240]:
registered_scaler=StandardScaler()
registered_scaler.fit(pandas.DataFrame(x_test['registered']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [241]:
x_test[['registered']]=registered_scaler.transform(x_test[['registered']])

In [242]:
simple_linear_regression=LinearRegression()

In [243]:
simple_linear_regression.fit(pandas.DataFrame(x_train),pandas.DataFrame(y_train))

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [244]:
y_pred=simple_linear_regression.predict((pandas.DataFrame(x_test)))

In [245]:
y_pred

array([[216.20869732],
       [  9.53991127],
       [220.37383727],
       ...,
       [100.37888444],
       [ 36.31022891],
       [  8.65017231]])

In [246]:
print("Mean squared error: %.1f" % mean_squared_error(y_test,y_pred))

Mean squared error: 22.5

In [247]:
print('R2 Score: %.1f' % r2_score(y_test,y_pred))

R2 Score: 1.0

In [248]:
print("Mean absolute error: %.1f" % mean_absolute_error(y_test,y_pred))

Mean absolute error: 3.7